body {
    font-family: "PT Sans",Arial,sans-serif !important;
    font-size: 18px !important;
    line-height: 1.6 !important;
    color: #333 !important;
}

blockquote {
    font-style: italic !important;
}

p {
    margin-bottom: 20px !important;
}

/* Header  */
.home-header {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
    background-color: #395B7C;
}
.home-header h1 {
    font-family: 'Lobster', cursive !important;
    color: #ddd;
    margin-bottom: 5px;
    font-size: 45px;
}
.home-header h2 {
    color: #ddd;
    margin-top: 5px;
    font-size: 25px;
    font-family: 'PT Serif', serif;
}
.home-header h1 a:hover {
    text-decoration: none !important;
}
#goup-cursor {
    position: absolute;
    width: 50px;
    height: 100%;
    cursor: pointer;
    display: none;
}
#goup {
    display: none;
    background-color: rgba(0, 120, 201, 0.3);
    position: absolute;
    width: 50px;
    height: 100%;
    z-index: -1;
    opacity: 0.25;
}
.goup-arrow {
    margin-top: 25%;
    margin-left: 15px;
    position: fixed;
}
/* Menu */
.navbar-brand {
    font-size: 35px;
    font-family: 'Lobster', cursive;
}
.current-menu-item {
    background-color: #1a242f;
}
.current-menu-item>a {
    color: #999 !important;
}
.dropdown-arrow {
    font-size: 15px;
}

/* Sidebar */
.sidebar {
    border-left: 2px solid #888;
    /* background-color: #444; */
}
.sidebar .form-inline .btn {
    padding: 7px 10px;
}

.sidebar .widget-title {
   text-align: center; 
   font-size: 20px;
   border-bottom: 1px solid #ccc;
   padding-bottom: 3px;
}

/* Container  */
.body-container {
    padding-top: 10px;
    padding-bottom: 20px;
}

article {
    margin-bottom: 60px;
}
/* Post */
.post-info {
    color: #888;
    font-size: 16px;
    margin-bottom: 35px;
}
.comments {
    margin-top: 30px;
    padding-bottom: 30px;
}

/* Footer */
.footer-text {
    margin-top: 70px;
    margin-bottom: 0px;
}
.footer-title {
    font-family: 'Lobster', cursive !important;
    font-size: 20px;
}

